
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tarefas Form</title>
<link rel="stylesheet" type="text/css" href="/css/estilo.css" />
</head>
<body>
	<form method="post">

		<label for="id" th:text="#{tarefa.id}"></label>
		<input id="id" name="id" th:field="${obj.id}" /> 
		
		<label for="nome" th:text="#{tarefa.nome}"></label>
		<input id="nome" name="nome" th:field="${obj.nome}" /> 
		
		<label for="tipo" th:text="#{tarefa.tipo}"></label>
		<select id="tipo" th:field="${obj.tipo}">
			<option value="">[Selecione]</option>
			<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="#{|tarefa.tipo.${tipo}|}"></option>
		</select>

		<label for="valor" th:text="#{tarefa.valor}"></label>
		<input id="valor" name="valor" th:field="${obj.valor}" /> 

		<input type="submit" />
	</form>

	<div th:text="${obj.id}"></div>
	<div th:text="${obj.nome}"></div>
	<div th:text="${obj.tipo}"></div>
	<div th:text="${obj.valor}"></div>

</body>
</html>